:root{
  --primary:#FF6060;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 30px;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: var(--primary)
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.active{
  text-decoration: underline;
}

.navbarNav{
  width: 300px;
}

.navbarListItems{
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.1em;
  color: var(--primary);
  
}
