:root{
  --primary:#FF6060;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 500;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: var(--primary)
}

#root{
 display:flex; 
 flex-direction:column;
 justify-content: space-between;
 min-height: 110vh;
}

.navbar{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  box-sizing: border-box;

}

.header-container{
  display: flex;
  width: 100%;
  margin: 60px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.active{
  text-decoration: underline;
}

.navbarNav{
  width: 250px;
}

.navbarListItems{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.1em;
  color: var(--primary);
  
}

main {
  margin: 30px 60px;
}

.banner{
    height: 11rem;
    border-radius: 10px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #595959;
    background-blend-mode: overlay;
    background-size: 100% 100%;
    margin-bottom: 5rem;
    margin-top: 2rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.banner-title{
  color: white;
  font-size: 28px;
}

.listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.listing:after {
  width: 30%;
  content: "";
}
.card{
  position: relative;
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-size: cover;
}

.card-link{
  height: 100%;
  width: 100%;
}


.accomodation-title{
  position: absolute;
  color: white;
  bottom: 8px;
  left: 16px;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color:#000;
  height: 210px;
}

.fixed{
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-logo{
  margin-top: 70px;
}

.footer-text{
  font-size: 20px;
  color:#ffffff;
}

.dropdown{
  margin: auto;
  width: 80%;
}

.dropdown-short{
  width: 48%;
}

.dropdown-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: var(--primary);
  border-radius: 5px;
  padding: 0px 10px;
  box-sizing: border-box;
  z-index: 1;
}

.dropdown-heading:hover{
  cursor: pointer;
}

.dropdown-title{
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
}

.dropdown-container{
  margin-top: 10px;
  padding: 15px 15px 0px 15px;
  color: var(--primary);
  min-height: 60px;
  z-index: -1;
}

.dropdown-content{
}
/* ABOUT PAGE */

.about{
  min-height: 71vh;
}

/* PROFILE PAGE */

.slider{
  position: relative;
  width: 100%;
  height: 45vh;
  margin-bottom: 20px;
}

.dot:hover{
  transform: scale(1.2);
}

.profile{
  min-height: 60vh;
  margin-top: 0;
}
.profile-desc{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profile-left-desc{

}


.profile-title{
  color: var(--primary);
  font-weight: 500;
}

.profile-location{
  color: var(--primary);
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
}

.profile-tags{
  display: flex;
  font-size: 0.8em;
  margin-top: 10px;
}

.tag{
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  background-color: var(--primary);
  margin-right: 10px;
}

.host{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--primary);
}

.host-name{
  text-align: end;
  width: 40%;
  font-size: 0.9em;
  margin-right: 5px;
}

.host-picture{
  width: 50px;
  border-radius: 50%;
}

.rating-container{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.full-desc{
  display:flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* 404 PAGE */

.not-found{
  display: flex;
  justify-content: center;
}
.not-found-content{
  text-align: center;
} 

.not-found-title{
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  color: var(--primary);
}

.not-found-subtitle{
  font-size: 30px;
  font-weight: normal;
  color: var(--primary)
}

.not-found-redirection{
  text-decoration: underline;
}

.not-found-redirection-text{
  margin-top: 100px;
}

/* ANIMATION */

.rotate{
  transform: rotate(360deg);
  transition: transform 250ms ease-in-out;
}

.rotate.out{
  transform: rotate(180deg);
  transition: transform 250ms ease-out;
}

.translate{
  max-height: 20rem;
  transition: max-height 0.200s ease-in-out, opacity 0.5s;
  margin-bottom: 20px;
}

.translate.out{
  visibility: hidden;
  max-height: 0;
  opacity: 0;
}

@media screen and (max-width: 768px){
  main{
    margin: 30px;
  }

  .header-container{
    margin: 30px;
  }
  .navbar{
    text-transform: uppercase;
  }

  .navbarNav{
    width: 35vw;
  }

  .footer{
    height: 180px;
  }

  .footer-text{
    margin-top: 5px;
    font-size: 15px;
  }

 /* HOME PAGE*/
  .card{
    width: 100%;
    height: 50vh;
  }

  /* ABOUT PAGE */

  .about{
    min-height: 50vh;
  }

  .dropdown{
    width: 100%;
  }

  /* 404 PAGE */
  .not-found-title{
    font-size: 150px;
  }

  .not-found-subtitle{
    font-size: 28px;
  }

  /* PROFILE PAGE */
  .profile-desc{
    flex-direction: column;
  }

  .profile-right-desc{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .full-desc{
    flex-direction: column;
    margin-top: 15px;
  }

  .dropdown-short{
    width: 100%;
  }

}